<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Battle of Stalingrad</title>
</head>
<body>
 <h1>-- Game in development --</h1>
 <a href="/prepare">Back to Prepare Game</a>
 <br /> <br />
  <a href="/">Back to Home</a>
</body>
</html>