<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Battle of Stalingrad</title>
</head>
<body>
<h1>Battle of Stalingrad</h1>
░░░░░░███████ ]▄▄▄▄▄▄▄▄▃<br />
▂▄▅█████████▅▄▃▂<br />
I███████████████████].<br />
◥⊙▲⊙▲⊙▲⊙▲⊙▲⊙▲⊙◤...<br />
<br />
<br />
December 14, 1942, Operation Winter Storm.<br /> 
The 6th German Army was only a few tens of kilometers from Stalingrad, and the 4th Panzer Army changed its direction of attack to help conquer the city of Stalingrad.<br /> 
This is the last ground attack of the German army on the city of Stalingrad that can lead to the war victory by Germany and its allies from the Axis.<br />
After a fierce battle on the outskirts of the city that lasted three days, the last battle takes place at the entrance to Stalingrad between a German Panzer IV tank and a Soviet T-34 tank.<br />
Who will win your war?<br />
<hr />
</body>
</html>





