<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Battle of Stalingrad</title>
</head>
<body>
<h1>Choose the tanks:</h1>

</body>
</html>





